body 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    height: 100vh
    margin: 0
    background-color: #f0f0f0

.container
    display: flex
    flex-direction: column
    align-items: center
    border: 2px solid black
    padding: 20px
    background-color: white
    border-radius: 10px
    margin-top: 20px
    width: fit-content

.buttons
    display: flex
    justify-content: space-between
    margin-bottom: 10px
    padding-top: 20px

.circle-button 
    width: 60px
    height: 60px
    border-radius: 50%
    border: 2px solid black
    transition: transform 0.3s


/* Цвета кнопок */
.red 
    background-color: red


.green 
    background-color: green


.blue 
    background-color: lightblue


.yellow 
    background-color: yellow


/* Эффект при наведении */
.circle-button:hover 
    transform: scale(1.2)


.title 
    font-size: 30px
    font-weight: bold
    text-align: center
